@import '_rwd.scss';

$MainColor: #004b7a;
$SecondColor: #4a8576;

$FontColor: #EFEFEF;

// @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Caveat|Noto+Sans+TC:300,500&amp;subset=chinese-traditional);
